<mat-nav-list class="menu">
  <a mat-list-item (click)="switchtheme(); closeMenu()">
    <mat-icon matListItemIcon>lightbulb</mat-icon>
    <span matListItemTitle>Theme</span>
  </a>

  <a mat-list-item routerLink="/home" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Home</span>
  </a>

  <a mat-list-item routerLink="/ticket-purchase" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>shopping_cart</mat-icon>
    <span matListItemTitle>Ticket Purchase</span>
  </a>

  @if (isLoggedIn) {
    <a mat-list-item routerLink="/profile" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>person</mat-icon>
      <span matListItemTitle>Profile</span>
    </a>
  }

  @if (!isLoggedIn) {
    <a mat-list-item routerLink="/login" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>login</mat-icon>
      <span matListItemTitle>Login</span>
    </a>
  }

  @if (isLoggedIn) {
    <a mat-list-item (click)="logout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>Logout</span>
    </a>
  }
</mat-nav-list>